<h3 class="text-center">Membros Apoiados</h3>

<a href="#/voluntarios/create" class="btn btn-success btn-lg pull-right">
    <i class="fa fa-plus"></i> Adicionar
</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-center">Nome</th>
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="6">
                <input type="text" class="form-control" ng-model="filter" value="" placeholder="Filtrar..." />
            </td>
        </tr>
        <tr ng-repeat="apoiado in vm.apoiados | filter: filter">
            <td class="text-left">{{ apoiado.nome }}</td>
            <td class="text-center">
                <div class="btn-group">
                    <a href="#/apoiados/edit/{{ apoiado.id }}" class="btn btn-group btn-default btn-sm"><i class="fa fa-edit">Editar</i></a>
                    <a href="#/apoiados/remove/{{ apoiado.id }}" class="btn btn-group btn-danger btn-sm"><i class="fa fa-remove">Apagar</i></a>
                </div>
            </td>
        </tr>
    </tbody>
</table>