<p ng-message="required">{{ formApoiado.$error.required[0].$attributes.placeholder }} é obrigatório.</p>
<p ng-message="minlength">{{ formApoiado.$error.minlength[0].$attributes.placeholder }} está muito curto. Mínimo {{ formApoiado.$error.minlength[0].$attributes.minlength }} caracteres.</p>
<p ng-message="maxlength">{{ formApoiado.$error.maxlength[0].$attributes.placeholder }} está muito longo. Máximo {{ formApoiado.$error.maxlength[0].$attributes.maxlength }} caracteres.</p>
<p ng-message="min">{{ formApoiado.$error.mmin[0].$attributes.placeholder }} está muito baixo. Mínimo {{ formApoiado.$error.min[0].$attributes.min }}.</p>
<p ng-message="max">{{ formApoiado.$error.max[0].$attributes.placeholder }} está muito alto. Máximo {{ formApoiado.$error.max[0].$attributes.max }}.</p>