<h3>Novo Voluntário</h3>

<div class="container-fluid">
    <div class="row content">
        <div class="form-group">
            <label>Nome</label>
            <input ng-model="vm.voluntario.nome"
                   type="text"
                   class="form-control"
                   required />
        </div>
    </div>

    <!--
    <div class="form-group">
        <label>Tecnologias</label>
        <select ng-model="vm.voluntario.technology" class="form-control">
            <option value="{{ technology.id }}" ng-repeat="technology in vm.technologies">{{ technology.description }}</option>
        </select>
    </div>
    -->
    <br />

    <div class="row content">
        <div class="col-md-8">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">Voluntário</th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="voluntario in vm.voluntarios">
                        <td class="text-center">{{ voluntario.id }}</td>
                        <td>{{ voluntario.nome }}</td>
                        <td class="text-center">
                            <div class="button-group">
                                <button class="btn btn-default btn-sm" ng-click="vm.loadVoluntario(voluntario)"><i class="fa fa-edit">Editar</i></button>
                                <button class="btn btn-danger btn-sm" ng-click="vm.removeVoluntario(voluntario)"><i class="fa fa-remove">Apagar</i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md4">
            <div class="panel panel-default">
                <div class="panel-heading text-center">Voluntário</div>
                <div class="panel-body">
                    <div class="form-group" ng-class="{ 'has-error' : description.$invalid }">
                        <label for="description">Nome</label>
                        <input ng-model="vm.voluntario.nome"
                               ng-minlength="3"
                               ng-maxlength="20"
                               type="text"
                               class="form-control"
                               id="description"
                               name="description"
                               placeholder="Nome do Voluntário"
                               required />
                    </div>

                    <button type="button"
                            class="btn btn-primary btn-block"
                            ng-disabled="vm.voluntario.nome == ''"
                            ng-click="vm.saveVoluntario()">
                        Salvar
                    </button>
                    <button type="button"
                            class="btn btn-default btn-block"
                            ng-show="vm.voluntario.id != 0"
                            ng-click="vm.cancel()">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row  content">
        <p class="text-center">
            <button class="btn btn-primary btn-lg" ng-click="vm.save()">
                Salvar
            </button>
        </p>
    </div>
</div>