<h3>Edição do Voluntário</h3>

<div class="form-group">
    <label>Voluntário</label>
    <input ng-model="vm.voluntario.nome"
           type="text"
           class="form-control"
           required />
</div>

<div class="form-group">
    <label for="email">Nome</label>
    <input ng-model="vm.voluntario.nome"
           type="text"
           class="form-control"
           required />
</div>

<br />
<div class="clearfix"></div>

<p class="text-center">
    <button class="btn btn-primary btn-lg" ng-click="vm.save()">
        Salvar
    </button>
</p>